<div class="login">
    <div>
        <div class="loginTip">用户登录</div>
        <div class="username">
            <span>用户名:</span>
            <input type="text" placeholder="请输入用户名">
        </div>

        <div class="pwd">
            <span>密&nbsp;&nbsp; 码:</span>
            <input type="password" placeholder="请输入密码">
        </div>

        <div class="agree">
            <input type="checkbox">
            <span>我同意用户协议</span>
        </div>

        <div class="logined" (click)="login()">登录</div>

        <div class="closeLogin" (click)="closeLogin()">X</div>
    </div>
</div>