<div class="bannerTheme">
    <div class="sliderBan" (mouseenter)="stopBan()" (mouseleave)="startBan()">
        <div class="bigBanOne">
            <div><img src="./assets/img/bannerImg/1.png"></div>
            <div><img src="./assets/img/bannerImg/2.png" alt=""></div>
            <div><img src="./assets/img/bannerImg/3.png" alt=""></div>
            <div><img src="./assets/img/bannerImg/4.png" alt=""></div>
            <div><img src="./assets/img/bannerImg/5.png" alt=""></div>
            <div><img src="./assets/img/bannerImg/6.png" alt=""></div>
        </div>
    </div>
    <div class="sliderSmallBan">
        <div class="smallBanOne">
            <div><img src="./assets/img/smallBanImg/1.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/2.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/3.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/4.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/5.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/6.png" alt=""></div>
        </div>
        <div class="smallBanTwo">
            <div><img src="./assets/img/smallBanImg/1.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/2.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/3.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/4.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/5.png" alt=""></div>
            <div><img src="./assets/img/smallBanImg/6.png" alt=""></div>
        </div>
    </div>
</div>