<div class="recmPopContainer">
    <span class="leftIcon" (click)="moveLeft()">
        <img src="../../../assets/img/default/left.png" alt="">
    </span>
    <div class="recmPop">
        <h3>{{'popular' | translate}}</h3>
        <div class="recmPopContent">
            <div class="pop" *ngFor="let img of imgs;let i=index" (click)="jumpToVodDetail(img,i)" (mouseenter)="showHomeDetail(img,i,$event)"
                (mouseleave)="hideHomeDetail(img,i,$event)">
                <img src="{{img.src}}" alt="">
                <div class="popTitle">
                    {{img.popTitle}}
                </div>
            </div>
            <div class="suspension" id="suspensions" [ngStyle]="{'visibility':showSus ? 'visible' : 'hidden' }" (mouseenter)="showHomeDetails()"
                (mouseleave)="hideHomeDetails()">
                <app-suspension></app-suspension>
            </div>
        </div>
    </div>
    <span class="rightIcon" (click)="moveRight()">
        <img src="../../../assets/img/default/right.png" alt="">
    </span>
</div>