<div class="recmPopContainer">
    <span class="leftIcon" (click)="moveLeft()">Left</span>
    <div class="recmPop">
        <h3>大家都喜欢</h3>
        <div class="recmPopContent">
            <div class="pop" *ngFor="let img of imgs;let i=index" (click)="jumpToVodDetail(img,i)" (mouseenter)="showHomeDetail(img,i,$event)"
                (mouseleave)="hideHomeDetail(img,i,$event)">
                <img src="{{img.src}}" alt="">
                <div class="popTitle">
                    {{img.popTitle}}
                </div>
                <div class="suspension" [ngStyle]="{'visibility':(curSuspension === i && ctrlSuspensionShow) ? 'visible' : 'hidden' }">
                    <app-suspension></app-suspension>
                </div>
            </div>
        </div>
    </div>
    <span class="rightIcon" (click)="moveRight()">Right</span>
</div>