.recmVodContainer {
  width: 100%;
  position: relative;

  .recmVod {
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    height: 450px;
    position: relative;

    h3 {
      margin-bottom: 20px;
      color: rgba(50, 50, 50, 0.75);
      font-size: 20px;
    }

    .recmVodContent {
      height: 340px;
      position: absolute;
      width: 1000%;
      left: 0px;

      .vod {
        width: 240px;
        // overflow: hidden;
        margin-right: 10px;
        float: left;
        cursor: pointer;
        position: relative;

        img {
          width: 238px;
          height: 338px;
          border: 1px solid #e43965;
        }
      }

      .suspension {
        cursor: auto;
        position: absolute;
        top: 0px;
        // left: 235px;
        visibility: hidden;
        z-index: 998;
      }
    }
  }

  .leftIcon {
    position: absolute;
    top: 33%;
    left: 5px;
    display: block;
    width: 45px;
    height: 120px;
    line-height: 120px;
    cursor: pointer;

    img {
      width: 45px;
    }
  }

  .rightIcon {
    position: absolute;
    top: 33%;
    right: 5px;
    display: block;
    width: 45px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    img {
      width: 45px;
    }
  }
}